@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: black;
  text-decoration: none;
}

/*.custom-loading-spinner {
    z-index: 9999999999;
    overflow: hidden;
    cursor: progress;
    position: absolute;
    width: 100%;
    height: 100%;
    animation-fill-mode:forwards;
    pointer-events: none;
    
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: hidden;
        background: #0b0b0b;
        opacity: 0.6;
    }
    &::after {
        box-sizing: border-box;
        z-index: 1;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -25px 0 0 -25px;
        border: 3px solid #f3f3f3;
        border-top: 3px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: custom-loading 3s linear;
        display: block;
        
    }
    @keyframes custom-loading {
        0% { transform: rotate(0deg);}
        100% { transform: rotate(360deg); }
        
        
    }
    
} */
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: "Roboto", serif;
  font-size: 14px;
  letter-spacing: .5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  padding: 20px 0 20px 0;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo__img {
  width: 40%;
}

.book-order-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
  border-radius: 50px;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  width: 52%;
}

.fa-heart {
  font-size: x-large;
  position: absolute;
  right: 10%;
}

.fa-heart:hover {
  font-weight: 900;
  background: -webkit-gradient(linear, center top, center bottom, from(#FF79DA), to(#9356DC));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  background-color: #ebebeb;
  -webkit-box-shadow: 0px -4px 2px #cfcfcf;
          box-shadow: 0px -4px 2px #cfcfcf;
  padding: 20px 0;
}

.localisation span {
  padding-left: 20px;
}

.reservation {
  background-color: #f6f6f6;
  padding: 50px 0;
}

.reservation h1, .reservation h2 {
  text-align: center;
}

.reservation h1 {
  font-size: 27px;
  font-weight: bold;
  margin: 0 auto 20px;
  width: 75%;
}

.reservation h2 {
  font-size: 16px;
  font-weight: 500;
  margin: 20px auto;
  width: 80%;
}

.fonctionnement {
  padding-bottom: 40px;
  background-color: white;
}

.fonctionnement h1 {
  padding: 20px 0 20px 20px;
}

.fonctionnement__btn {
  background-color: #f6f6f6;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  margin: 20px auto;
  padding: 20px 0 20px 0;
  width: 85%;
  -webkit-box-shadow: 5px 5px 5px #ebebeb;
          box-shadow: 5px 5px 5px #ebebeb;
}

.fonctionnement__btn i:nth-child(1) {
  border-radius: 50%;
  padding: 7px 9px;
  background-color: #9356DC;
  color: white;
  position: relative;
  right: 10px;
  font-size: small;
}

.fonctionnement__btn i:nth-child(2) {
  margin: 0 20px 0 10px;
  color: grey;
}

.fonctionnement__btn span {
  font-size: 16px;
}

.restaurants {
  height: 1120px;
  background-color: #f6f6f6;
  padding-bottom: 50px;
}

.restaurants > h1 {
  padding: 20px 0 0 20px;
}

.restaurants .restaurant {
  width: 90%;
  height: 22%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px #e4dadac5;
          box-shadow: 5px 5px 5px #e4dadac5;
  background-color: white;
}

.restaurants .restaurant__img {
  width: 100%;
  height: 72%;
  border-radius: 20px 20px 0 0;
}

.restaurants .restaurant__info {
  width: 100%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 20px 0 20px;
  font-size: 16px;
}

.restaurants .restaurant span:nth-child(1) {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurants .nouveau {
  z-index: 1;
  position: absolute;
  right: 10%;
  margin-top: 5%;
  color: #008563;
  background-color: #98e2cf;
  padding: 5px 10px;
}

footer {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 20px;
  background-color: black;
}

footer .logo-footer__img {
  width: 30%;
  -webkit-filter: invert(1);
          filter: invert(1);
}

footer a, footer .logo-footer__img {
  color: white;
}

footer i {
  padding-right: 10px;
}

header i {
  padding-left: 20px;
  position: absolute;
  top: 25px;
  font-size: large;
}

.menu-image img {
  width: 100%;
  height: 283px;
}

main {
  background-color: #f5f5f5;
}

.carte {
  border-radius: 35px 35px 0 0;
  padding: 20px 0 40px 0;
  position: relative;
  bottom: 45px;
  background-color: #f5f5f5;
}

.carte .title-1 {
  padding: 0 40px 20px 20px;
  font-family: "Shrikhand", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 25px;
}

.carte .title-2 {
  margin-left: 20px;
  width: 500px;
  height: 100px;
  position: relative;
  padding-bottom: 7px;
}

.carte .title-2::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 35px;
  left: 2%;
  border-bottom: 3px solid #99E2D0;
}

.carte__desserts {
  padding-bottom: 20px;
}

.carte__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
  margin: 20px auto;
  padding: 10px 20px 10px 10px;
  width: 90%;
  background-color: white;
  -webkit-box-shadow: 5px 5px 5px #ebebeb;
          box-shadow: 5px 5px 5px #ebebeb;
}

.carte__btn .title-3 {
  font-weight: bold;
  padding-bottom: 5px;
}

.carte__btn .title-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carte__btn .title-4 .price {
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */