.header-restaurant{
    padding: 20px 0 20px 0;
    @media screen and (min-width: $tablet-limit) { 
        padding: 0;
    }
    
    .logo{
        display: flex;
        justify-content: center;
        @media screen and (min-width: $tablet-limit) {
            display: block;
            padding: 30px;
        }
        &__img{
            width: 40%;
            @media screen and (min-width: $tablet-limit) {
                width: 200px;
                height: 30px;
                margin-left: 50px;
                
            }
            
        }
    }
    i:nth-child(1){
        padding-left: 20px;
        position: absolute;
        top: 25px;
        font-size: large;
        @media screen and (min-width: $tablet-limit) { 
            display: none;
        }
        
    }
    i:nth-child(2){
        display:none;
        
        @media screen and (min-width: $tablet-limit) { 
            display: block;
            position: absolute;
            top: 30px;
            left: 30px;
            font-size: x-large;
        }
        
    }
}

.menu-image{
    @media screen and (min-width: $tablet-limit) { 
        background-color: #423d3d14;;
    }
    
    img{
        width: 100%;
        height: 283px;
        
        @media screen and (min-width: $tablet-limit) { 
            display: BLOCK;
            width: 50%;
            height: 300px;
            margin: 0 auto;
            border-bottom: none;
            
            
        }
    }
}

main{
    background-color: #f5f5f5;
    @media screen and (min-width: $tablet-limit) { 
    }
    
}
.carte{
    
    border-radius: 35px 35px 0 0;
    padding: 20px 0 40px 0;
    background-color: #f5f5f5;
    position: relative;
    bottom: 45px;
    
    @media screen and (min-width: $tablet-limit) { 
        border-radius: 0;
        padding-top: 0;
        
    }
    
    
    
    
    .title-1{
        padding: 0 40px 20px 20px;
        font-family: "Shrikhand", serif;
        display: flex;
        justify-content: space-between; 
        font-size: 25px;
        @media screen and (min-width: $tablet-limit) { 
            width: 50%;
            margin: auto;
            padding: 20px 20px 20px 20px;
            border-top: none;
            border-radius: 0 0 35px 35px;
            box-shadow: 5px 5px 5px #ebebeb;
            background-color: white;
            
            
            
        }
        
        .fa-heart {
            @media screen and (min-width: $tablet-limit) { 
                position:relative;
                margin: 0;
                
            }
        }
    }
    
    > div{
        
        @media screen and (min-width: $tablet-limit) { 
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 20px;
            padding-top: 20px;
        }
        
        > div{
            
            width: 100%;
            @media screen and (min-width: $tablet-limit) { 
                width: 30%;
            }
        }
        
        
        .title-2 {
            margin-left: 20px;
            width: 500px;
            height: 100px;
            position: relative;
            padding-bottom: 7px;
            
            &::before {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                width: 35px;
                left: 2%;
                border-bottom: 3px solid $color-tertiary;
            }
            
        }  
        
        
        
        .carte__desserts{
            padding-bottom: 20px;
            @media screen and (min-width: $tablet-limit) { 
                padding-bottom: 0;
                
            }
        }
        
        
        .carte__btn{
            width: 100%;
            height: 25%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-radius: 15px;
            margin: 20px auto;
            padding: 0;
            width: 90%;
            background-color: white;
            box-shadow: 5px 5px 5px #ebebeb;
            animation: showMenu 3s ease-in-out forwards;
            
            
            &:hover > div.check{
                animation: check .5s linear forwards;  
                
            }
            
            
            &:hover > div.check > i{
                animation: rotateCheck 1s linear forwards;  
            }
            
            &:hover > .titles {
                width: 60%;
            }
            
            &:hover > .titles > .title-3 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            
            
            @media screen and (min-width: $tablet-limit) { 
                width: 100%;
                height: 25%;
                align-items: center;
            }
            
            .titles{
                width: 80% ;
                padding: 10px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                white-space: nowrap;
                
                
                .title-3{
                    font-weight: bold;
                    padding-bottom: 5px;
                }
                
                
                .overflow-clip{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                
                
            }
            .price{
                font-weight: bold;
                display: flex;
                align-self: flex-end;
                
                @media screen and (min-width: $tablet-limit) { 
                    display: table;
                    height: 100%;
                }
                
                > span{
                    padding-bottom: 10px;
                    
                    @media screen and (min-width: $tablet-limit) { 
                        vertical-align: bottom;
                        display: table-cell;
                        padding-bottom: 15px;
                    }
                }
            }
            
            .check{
                width: 0%;
                opacity: 0;
                border-radius: 0 15px 15px 0;
                background-color: #99e2d0;
                color: white;
                text-align: center;
                display: table;
                @media screen and (min-width: $tablet-limit) { 
                    height: 100%;
                }
            }
        }
        
        i{
            font-size: x-large;
            display: table-cell;
            vertical-align: middle;
        }
    }   
    
    .book-order-btn{
        @media screen and (min-width: $tablet-limit) { 
            margin-top: 30px;
        }
        
    }
}