$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$background-btn-fonctionnement:#f6f6f6;
$background-btn-fonctionnement-hover: #f5edff;
$desktop-limit: 992px;
$tablet-limit: 426px;

